<% animals.forEach(function(animal) { %>
<div class="animal-option">
  <div class="animal-icon-container">
    <img class="animal-icon" src="<%= animal.imgPath %>" />
    <img
      id="<%= animal.name.toLowerCase() %>-selected"
      class="animal-selected"
      src="/images/userCreation/animal_selected.png"
    />
  </div>
  <div class="animal-icon-text"><%= animal.name %></div>
  <button
    id="button-<%= animal.name.toLowerCase() %>"
    class="animal-button"
    onclick="selectAnimal('<%= animal.name.toLowerCase() %>', <%= animal.id %>)"
  ></button>
</div>
<% }); %>
