<img id="color-picker-panel" src="/images/userCreation/color_picker.png" />

<div id="color-options-container">
  <% colors.forEach(color => { %>
  <div
    id="option-<%= color.name.toLowerCase() %>"
    style="background-color: <%= color.hex %>"
  >
    <button
      id="button-<%= color.name.toLowerCase() %>"
      class="color-button"
      onclick="selectColor('<%= color.name.toLowerCase() %>', <%= color.id %>)"
    ></button>
    <img
      id="<%= color.name.toLowerCase() %>-selected"
      class="color-selection-icon"
      src="/images/userCreation/color_selected.png"
      data-color="<%= color.name %>"
      data-id="<%= color.id %>"
    />
  </div>
  <% }); %>
</div>

<div id="color-text-container">
  <% colors.forEach(color => { %>
  <div class="color-text"><%= color.name %></div>
  <% }); %>
</div>
