<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="data:," />
    <script src="/js/script.js" defer></script>
  </head>

  <body>
    <div id="container">
      <div id="clip-path">
        <%- include('startScreen') %> <%- include('user_panel') %> <%-
        include('exit_container') %> <%- include('create_new_user') %> <%-
        include('login') %> <%- include('riddle') %>
      </div>
    </div>
  </body>
</html>
